.inner-header {
  height: auto;
  background-size: cover;
  background-position: center;
  position: relative;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-align: center;
  padding: 1rem 0;
  background-color: rgba(0, 36, 56, 1); /* Added alpha value (1 for full opacity) */
  background-image: url('../images/header-bg.jpg'); /* Updated path */
  background-blend-mode: soft-light;
}


/* Ensures content stays above overlay */
.inner-header-content {
  position: relative;
  z-index: 2;
}