footer {
    background: var(--primary-gradient);
  }
footer .overlay{
    background: url('../images/blue-texture.png') right top no-repeat;
    width: 100%;
    padding: 100px 0 20px 0;
    background-size: 50%;
  }
  
  .unlockProperty {
    position: relative;
    margin-bottom: 50px;
    color: var(--white);
  }
  
  .unlockProperty .card {
    padding: 36px;
    border-radius: 15px;
    background: var(--background);
  }
  
  .unlockProperty .card h1, 
  .unlockProperty .card p {
    color: var(--white);
  }
  
  .unlock-blue-card {
    background: var(--secondary-gradient);
    padding: 30px;
    border-radius: 12px;
  }
  
  .unlock-blue-card p:last-child {
    margin-bottom: 0;
  }
  
  .unlock-blue-card .logo {
    background: var(--golden-gradient);
    padding: 10px;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .unlock-blue-card .logo img {
    width: 100%;
  }
  
  .unlockProperty .card .content{
    display: flex;
    justify-content: center;
    align-items: center;
  }
footer .logo img{
  max-width: 200px;
}
  footer h5, footer .h5{
  text-transform: uppercase;
 }
 footer .list-unstyled{
  margin-top: 20px;
  margin-bottom: 0;
 }
footer li {
  display: flex;
  align-items: start;
  gap: 8px; 
  margin-bottom: 10px;
}
footer li svg {
  flex-shrink: 0; /* Prevent icon from shrinking */
  width: 18px;
  height: 18px;
  fill: var(--white);
}
 footer li a{
  line-height: 24px;
  display: block;
  font-weight: normal;
  color: var(--white);
 }