.navbar {
    background-color: var(--background);
    color: var(--white);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .navbar a, .navbar li {
    position: relative;
    color: var(--white);
    text-decoration: none;
    font-size: 16px;
    padding: 10px 20px !important;
    transition: color 0.3s ease;
  }
  .navbar a:hover{
    text-decoration: none;
  }
  .navbar a::after, .navbar li::after, .navbar .dropdown::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: transparent;
    transform: translateX(-50%);
    transition: width 0.3s ease, background-color 0.3s ease;
  }
  
  .navbar a.dropdown-toggle::after {
    margin-left: 10px;
    position: static;
    margin-top: 10px;
}
  
  .navbar a.dropdown-toggle:hover::after {
    width: 0;
    background: none;
  }
  
  .navbar a:hover, .navbar li:hover, .navbar .dropdown:hover {
    color: var(--white);
  }
  
  .navbar a:hover::after, .navbar li:hover::after, .navbar .dropdown:hover::after {
    width: 40%;
    background-color: var(--white);
  }
  
  .navbar a:visited, .navbar li:visited {
    color: var(--white);
  }
  
  .navbar a:visited::after, .navbar li:visited::after {
    background-color: var(--white);
  }
  
  .navbar a.active, .navbar li.active {
    color: var(--active-color);
  }
  
  .navbar a.active::after, .navbar li.active::after {
    width: var(--border-bottom-length);
    background-color: var(--active-color);
  }
  
  .navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color: var(--white);
  }
  
  .navbar a.navbar-brand{ 
    width: 180px;
    padding: 0 !important; ;
  }
  .navbar a.navbar-brand::after, ::before{ 
    display: none;
  }
  .navbar a.navbar-brand img{ 
    width: 100%;
  }
  .navbar-nav .dropdown-menu{
    color: var(--white);
    background: var(--card-background);
  }
  .dropdown-item.active, .dropdown-item:active, .dropdown-item:focus, .dropdown-item:hover{
    color: var(--white);
    background: var(--primary);
  }


  @media (min-width: 992px) {
    .dropdown-hover:hover .dropdown-menu {
      display: block;
      margin-top: 0; /* Remove the gap between dropdown and menu */
    }
    
    .dropdown-hover .dropdown-menu {
      /* Optional: Add animation for smoother appearance */
      transition: all 0.3s ease;
    }
    
    /* Optional: Add delay to prevent accidental triggers when moving cursor */
    .dropdown-hover .dropdown-menu {
      pointer-events: none;
      transition: visibility 0s, opacity 0.3s ease;
    }
    
    .dropdown-hover:hover .dropdown-menu {
      pointer-events: auto;
    }
  }