/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap'); */
:root {
  --background: rgb(0, 36, 56);
  --card-background: rgb(5, 59, 87);
  --primary: rgb(77, 134, 247);
  --white: rgb(255, 255, 255);
  --acent: rgb(222, 180, 91);
  --golden-gradient: linear-gradient(90deg, #E0B667, #DEBA5D, #FEEC96, #E7C270, #DEB45B);
  --primary-gradient: linear-gradient(65deg, #02A7F7, #004C6E, #00324C);
  --secondary-gradient: linear-gradient(5deg, #016891, #02B1F7);
  --contact-card-gradient: linear-gradient(-127deg, #0080BD, #003B57);
}

body,
html {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  background: var(--background);
  color: var(--white);
}

a:hover {
  text-decoration: underline;
  color: var(--primary);
}

.text-dark {
  color: var(--background) !important;
}

h1,
.h1,
h1 span {
  font-size: clamp(1.125rem, 3.5vw, 2.875rem);
  /* 18px to 46px */
  font-weight: 700;
}

h2,
.h2,
h2 span {
  font-size: clamp(1.125rem, 3vw, 2.375rem);
  /* 18px to 38px */
  font-weight: 700;
}

h3,
.h3,
h3 span {
  font-size: clamp(1.0625rem, 2.5vw, 2.25rem);
  /* 17px to 36px */
  font-weight: 500;
}

h4,
.h4,
h4 span {
  font-size: clamp(1rem, 2vw, 2rem);
  /* 16px to 32px */
  font-weight: 500;
}

h5,
.h5,
h5 span {
  font-size: clamp(1rem, 1.5vw, 1.5rem);
  /* 20px to 24px */
  font-weight: 500;
}

h6,
.h6,
h6 span {
  font-size: clamp(0.9375rem, 1.3vw, 1.25rem);
  /* 15px to 20px */
  font-weight: 500;
}

p, .p, p span {
  font-size: clamp(0.8125rem, 0.8vw, 0.9375rem);
  /* 13px to 15px */
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  text-transform: capitalize;
}

h1 span, .h1 span, h2 span, .h2 span, h3 span, .h3 span, h4 span, .h4 span, h5 span, .h5 span, h6 span, .h6 span, p span, .p span, .text-gold {
  background: linear-gradient(90deg, #B28425, #E4A730, #FFD16E, #CE9A2C, #9A681B);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

img {
  display: block;
  width: 100%;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.routes-container {
  flex: 1;
  min-height: 40vh;
  padding-top: 80px;
}
.page-title p:last-child{
  margin-bottom: 0;
}

section {
  padding: 60px 0; /* Default padding */
}

/* For tablets */
@media (max-width: 992px) {
  section {
      padding: 50px 0;
  }
}

/* For mobile devices */
@media (max-width: 768px) {
  section {
      padding: 30px 0;
  }
}

ul,
li,
a {
  list-style: none;
  text-decoration: none;
}

.socialMedia .col-auto {
  padding: 0 5px;
  width: 60px;
}

.social-icon {
  background: var(--golden-gradient);
  width: 50px;
  height: 50px;
  padding: 5px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #D89E2D;
}
@media (max-width: 768px) {
  .social-icon{
    width: 36px;
  height: 36px;
  }
}
@media (max-width: 460px) {
  .social-icon{
    width: 28px;
  height: 28px;
  }
}

.social-icon:hover {
  color: var(--gradient-secondary);
  transition: color 0.9s ease-in-out;
  background: var(--secondary-gradient);
  border: 1px solid #016891;
}

.social {
  border-top: 1px solid transparent;
  border-image: var(--golden-gradient) 1;
}

.carousel-caption {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgb(0, 0, 0, 0.4);
}

.carousel {
  object-fit: cover;
}

.carousel-inner {
  max-height: 85vh;
}

.custom-carousel,
.custom-img {
  max-height: 85vh;
  object-fit: cover;
}

.aboutehome .row {
  display: flex;
  align-items: center;
}

.aboutehome .row .content {
  padding-left: 30px;
}
@media (max-width: 768px) {
  .aboutehome .row .content {
    padding-left: 15px;
  }
}
.card-container {
  position: relative;
  display: inline-block;
  width: 100%;
}

.card {
  background: var(--card-background);
  color: var(--white);
  transition: background 0.4s ease-in-out;
}

.card:hover {
  background: var(--secondary-gradient);
}

.card .card-img-top {
  border-bottom-right-radius: 0.375rem;
  border-bottom-left-radius: 0.375rem;
}

.card-container .icon {
  position: absolute;
  top: 15px;
  right: 15px;
  transform: rotate(-65deg);
  padding: 10px;
  border-radius: 50%;
  background: var(--white);
  color: var(--primary);
  display: none;
  align-items: center;
  justify-content: center;
}

.card-container:hover .icon {
  display: flex;
}

.card-container .icon svg {
  fill: var(--primary);
}

.card .service-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--primary);
  width: 70px;
  height: 70px;
  font-size: 2rem;
  border-radius: 100%;
}

.card:hover .service-icon {
  background: var(--background);
}

.card .service-icon-img {
  width: 32px;
  height: 32px;
  object-fit: contain;
}

.card-body h5,
.card-body .h5 {
  text-transform: capitalize;
}

.utilitiesCard .service-icon {
  margin-right: 20px;
}

.utilitiesCard .service-icon span {
  display: flex;
}

.utilitiesCard a,
.card-container a {
  text-decoration: none;
  color: var(--white);
}

.newsSubscription-body {
  background: #02A7F7 url('images/pattern.png');
  background-repeat: repeat;
  background-size: auto;
  padding: 70px;
  border-radius: 30px;
  margin-top: 30px;
}

.newsSubscription {
  background: var(--background);
  color: var(--white) !important;
  border-radius: 30px;
  overflow: hidden;
}

.newsSubscription input::placeholder {
  color: gray;
  opacity: 1;
}

.newsSubscription .form-control {
  border: 0;
  background: transparent;
  color: var(--white) !important;
}

.newsSubscription .btn-primary {
  background: var(--golden-gradient) !important;
  color: var(--background) !important;
  border-radius: 30px;
  padding: 10px 20px;
}

.newsSubscription.input-group:not(.has-validation)>.dropdown-toggle:nth-last-child(n+3),
.input-group:not(.has-validation)>.form-floating:not(:last-child)>.form-control,
.input-group:not(.has-validation)>.form-floating:not(:last-child)>.form-select,
.input-group:not(.has-validation)>:not(:last-child):not(.dropdown-toggle):not(.dropdown-menu):not(.form-floating) {
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.newsSubscription.input-group>:not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
  margin-left: calc(var(--bs-border-width)* -1);
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

/* aboutCarousel */
.aboutCarousel {
  max-height: 85vh;
  overflow: hidden;
}

.aboutCarousel .carousel-item {
  max-height: 85vh;
}

.aboutCarousel .carousel-caption {
  justify-content: end;
  align-items: end;
}

.bodlaSince {
  background: var(--primary-gradient);
  text-align: center;
}

.dhaBodla img {
  width: 80%;
}

.cardImage img {
  border-radius: 21px;
}

.text-justify {
  text-align: justify;
}

.logoImage {
  background: var(--golden-gradient);
  border-radius: 100%;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding: 10px;
}

.projectGallery .col img {
  overflow: hidden;
  border-radius: 15px;
}

.projectGallery .col .oneD img {
  width: auto;
  height: 100%;
}


.creationsJourney .card .image {
  height: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.creationsJourney .card .image img {
  width: 70%;
}

.reit {
  background: var(--card-background);
  min-height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.expanded img {
  background: var(--white);
  border-radius: 100%;
  border: 1px solid var(--white);
}

.nav-tab {
  border-bottom: 0;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  background: linear-gradient(90deg, #B28425, #E4A730, #FFD16E, #CE9A2C, #9A681B);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;

}

.nav-tabs {
  display: flex;
  width: 100%;
}

.nav-tabs .nav-item {
  flex: 1;
  /* This makes each item take equal width */
  text-align: center;
  /* Optional: centers the text within each tab */
}

.nav-tabs .nav-link {
  width: 100%;
  /* Makes the link fill the entire nav-item */
  display: block;
  /* Ensures the link takes full width */
}

.nav-tabs .nav-link {
  position: relative;
  color: var(--white);
  text-decoration: none;
  line-height: 34px;
  font-weight: 600;
  border: 0;
  transition: color 0.3s ease;
}

.nav-tabs .nav-link::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 0;
  height: 1px;
  background-color: transparent;
  transform: translateX(-50%);
  transition: width 0.3s ease, background-color 0.3s ease;
}

.nav-tabs .nav-link:hover::after,
.nav-tabs .nav-item.show .nav-link::after {
  width: 40%;
  background-color: var(--white);
}

.nav-tabs .nav-link.active::after {
  width: 40%;
  background-image: var(--golden-gradient);
  background-color: transparent;
}

.nav-tabs,
.tab-content {
  background: var(--card-background);
  border-radius: 12px;
  border: 0;
}

.tab-content {
  padding: 20px;
}

.tab-content .card {
  background: var(--background);
  position: relative;
  overflow: hidden;
  text-align: center;
}

.tab-content .card:hover {
  background: var(--secondary-gradient);
}

.tab-content .card-body {
  position: relative;
}

.tab-content .dha-logo {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -100%);
  width: 80px;
  height: 80px;
  padding: 5px;
  background: var(--white);
  border-radius: 100%;
}

.tab-content .card-thumb-img {
  height: 200px;
  width: 100%;
  overflow: hidden;
}

.tab-content .card-thumb-img img {
  height: inherit;
}

.tab-content .card-body h5,
.tab-content .card-body .h5 {
  margin-top: 10px;
}

.dhaMultanBanner {
  background-image: url(../src/images/colaboration-bg.jpg);
  background-size: cover;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
}

.dhaMultanBanner img {
  width: 250px
}

.contact-card {
  background: var(--contact-card-gradient);
  border-radius: 21px;
}

.contact-card .card-body {
  padding: 50px;
}

.contact-card .card .card-body {
  padding: 15px;
}

.contact-card:hover {
  background: var(--contact-card-gradient);
}

.contact-form {
  background: var(--background);
  border-radius: 15px;
  padding: 30px;
}

.contact-form .form-control {
  background: rgb(255, 255, 255, .1);
  border-color: rgb(255, 255, 255, .2);
}

.contact-form .form-control::placeholder,
.contact-form .form-control::placeholder {
  color: var(--white);
  /* Change to your desired color */
  opacity: .7;
  font-weight: lighter;
}

.contact-us .contact-map {
  margin-top: 50px;
  border-radius: 21px;
  overflow: hidden;
}

/* projects */
.projects .project-thumb {
  background: var(--primary-gradient);
  padding: 15px;
  border-radius: 21px;
}

.projects .image-container {
  background-size: cover;
  background-position: center;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
}

.projects .image-container img {
  width: 150px;
  height: auto;
}

.projects .project-description {
  background: var(--primary-gradient);
  padding: 40px;
  border-radius: 21px;
  display: flex;
  align-items: center;
}
.projects .project-description p{
  text-align: justify;
}

/* project-detail */
.project-detail .project-intro .card {
  border-radius: 0;
  padding: 30px;
}

.project-detail .project-intro .card:hover {
  background: var(--card-background);
}

.project-detail .project-intro .project-logo,
.project-detail .project-intro .project-dhaApproved {
  padding: 30px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-detail .project-intro .project-logo img,
.project-detail .project-intro .project-dhaApproved img {
  width: 130px;
  height: auto;
}

.project-detail .project-intro .project-logo {
  background: var(--background);

}

.project-detail .project-intro .project-dhaApproved {
  background: var(--primary);
}

.project-detail .project-intro .map {
  border-radius: 15px;
  overflow: hidden;
}

.table {
  background-color: var(--card-background);
  color: var(--white) !important;
  border-collapse: collapse;
  border-radius: 15px;
  overflow: hidden;
}

.table thead {
  background-color: var(--primary);
}

.table thead tr th {
  background: var(--primary) !important;
  color: var(--white) !important;
  font-weight: bold;
  padding: 1rem 0.75rem;
}

.table tr td {
  padding: 0.75rem;
  background: var(--card-background) !important;
}

.table tr th:first-child,
.table tr td:first-child {
  text-align: left;
}

.table tr td,
.table tr th {

  color: var(--white) !important;
  border-bottom: 1px solid rgb(255, 255, 255, .1)
}

.projects-cta{
  border-radius: 21px;
  background: var(--primary-gradient);
  
}
.projects-cta .content{
  padding: 40px;
}
.projects-cta .amblum{
 margin-top: 30px;
}
.amenity-card p:last-child{
  margin-bottom: 0;
}
.amenity-card span{
  width: 80px;
  margin-bottom: 10px;
}
.amenity-card span svg{
  fill: var(--primary);
}
.amenity-card:hover span svg{
  fill: var(--background);
}

.service-icon span{
  width:40px;
  height: 40px;
  fill: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
}

